* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.card-display {
    display: block;
    position: relative;
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    background-color: #0AFFF7;
}

.card {
    position: relative;
    vertical-align: middle;
    background-color: #FFDDAA;
    display: inline-block;
    border-radius: 1em;
    width: 20em;
    height: 28em;
    line-height: 1em;
    padding: 1em;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    will-change: width, height;
    transition-property: width, height;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.card--active {
    /*width: 30em;
    height: 42em;*/
}

.card--content {
    pointer-events: none;
    transform-origin: 50% 50%;
    margin-bottom: 1em;
    text-align: left;
}

.card--footer {
    width: 90%;
    height: 1.2em;
    line-height: 1.2em;
    background-color: #111;
    color: #ddd;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    display: block;
}

.pos-tracker {
    position: absolute;
    display: block;
    background-color: black;
    width: 5px;
    height: 5px;
}